<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
table{border-collapse:collapse;text-align:center;}
a{text-decoration:none;}
</style>
</head>
<body>
<h1>学生列表</h1>
<table width="300" border="1">
  <tr><th>ID</th><th>姓名</td><th>操作</th></tr>
  <?php foreach($data as $v): ?>
  <tr>
    <td><?php echo $v['id']; ?></td>
    <td><?php echo $v['name']; ?></td>
    <td><a href="index.php?c=student&a=info&id=<?php echo $v['id']; ?>">查看</a></td>
  </tr>
  <?php endForeach; ?>
</table>
</body>
</html>
